.Header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    margin: 10px;
}

.right{
    display: flex;
    margin: 10px;
}

h1{
    margin-bottom: 40px;
}